body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}

.App {
  text-align: center;
  height: 100%;
  width: 100%;
}

.App-header {
  display: flex;
  background-color: rgb(20, 2, 68);
  background-image: url("https://images.unsplash.com/photo-1477346611705-65d1883cee1e?ixlib=rb-0.3.5&s=cd0aec193345638fc873c681465b7778&auto=format&fit=crop&w=1050&q=80");
  /* https://images.pexels.com/photos/114979/pexels-photo-114979.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb */
  /* https://images.unsplash.com/photo-1500964757637-c85e8a162699?ixlib=rb-0.3.5&s=6c69c8f71a234515f807904ee955f4a7&auto=format&fit=crop&w=1078&q=80 */
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  min-height: 100vh;
}

.link-bar {
  display: flex;
  justify-content: center;
}

a {
  color: white;
  text-decoration: none;
}

.App-header--icon {
  color: #fff;
  cursor: pointer;
  margin: 15px 10px;
  transition: font-size 0.4s ease;
}

.App-header--icon.fa {
  font-size: 65px;
}

.App-header--icon:hover {
  color: #19dcf5;
  font-size: 85px;
}

.content {
  height: 100%;
  width: 100%;
}

.App-header-title {
  bottom: 0;
  display: inline;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  height: 50px;
  width: 100%;
}

.Portfolio-down-arrow {
  bottom: 50px;
  cursor: pointer;
}

.Typist {
  display: inline-block;
  font-size: 58px;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.App-title {
  margin: 0px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-header--icon {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Skills  */
.skills-background {
  background-color: #19dcf5;
  color: black;
  padding: 2%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.skills-highlight {
  /* must be <a> tag */
  transition: background-size 0.4s ease;
  background: linear-gradient(
      to bottom,
      transparent 62%,
      rgba(0, 0, 0, 0.486) 0
    )
    center left/0% 75% no-repeat;
  padding: 0 6px 2px 6px;
  cursor: pointer;
  letter-spacing: 0.08rem;
}

.skills-highlight:hover {
  background-size: 100% 100%;
}
.skills-highlight:active {
  background-size: 80% 100%;
}

.skills-title {
  margin: 0px;
}

.skills-icons {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  margin-top: 1%;
}
.skills-icon {
  -webkit-flex: 1 1 0;
  flex: 1;
  font-size: 140px;
  margin-top: 1%;
}

/* Portfolio */

.black-text {
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 3em;
}

.grey-text {
  color: #424141;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2em;
}

.App-header--icon3 {
  color: #03a87c;
  cursor: pointer;
  margin: 15px 10px;
  transition: font-size 0.4s ease;
}

.App-header--icon3.fa {
  font-size: 35px;
}

.App-header--icon3:hover {
  color: black;
  font-size: 45px;
}

.highlight {
  /* must be <a> tag */
  transition: background-size 0.4s ease;
  background: linear-gradient(to bottom, transparent 62%, #19dcf5 0) center
    left/0% 75% no-repeat;
  padding: 0 6px 2px 6px;
  cursor: pointer;
  letter-spacing: 0.08rem;
}

.highlight:hover {
  background-size: 100% 100%;
}
.highlight:active {
  background-size: 80% 100%;
}

.break-portfolio {
  height: 100px;
  background-repeat: no-repeat;
}

.section {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
}

.section2 {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
}

.title-items {
  flex: 1;
}

.title-items h2 {
  font-size: 0.7em;
  margin: 0;
}

.title-items p {
  margin: 0;
  color: black;
  font-size: 0.4em;
}

.gifs {
  flex: 2;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.medium {
  background-color: #19dcf5;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 3em;
  padding: 4%;
}

.gifs img {
  flex: 1;
  max-width: 400px;
}

.portfolio-title {
  padding-top: 3%;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 4%;
}

@media only screen and (min-width: 768px) {
  .section {
    margin-top: 0%;
    padding-left: 3%;
    margin-left: 10%;
    border-left-color: #19dcf5;
    border-left-style: outset;
    border-left-width: 7px;
    text-align: left;
  }
  .smaller-projects {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
  }

  .section2 {
    flex: 1;
    -webkit-flex: 1 1 0;
    margin-top: 5%;
    padding-left: 3%;
    margin-left: 10%;
    border-left-color: #19dcf5;
    border-left-style: outset;
    border-left-width: 7px;
    text-align: left;
    max-width: 30%;
    -webkit-flex: 1 1 30%;
  }

  .gifs {
    flex-direction: row;
  }

  .gifs img {
    max-width: 900px;
  }
}

.section2 img {
  margin-top: 1%;
  max-height: 200px;
  max-width: 400px;
}
.links {
  font-size: 0.4em;
  bottom: 0;
}

.link-bar2 {
  display: flex;
  justify-content: center;
}

.App-header--icon2 {
  color: #19dcf5;
  cursor: pointer;
  margin: 15px 10px;
  transition: font-size 0.4s ease;
}

.App-header--icon2.fa {
  font-size: 45px;
}

.App-header--icon2:hover {
  color: black;
  font-size: 65px;
}
